/* Основные стили для ПК */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стили для переключателя темы */
.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.theme-toggle {
    background-color: #3b3b3b;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.theme-toggle:hover {
    background-color: #3700b3;
}

.language-switcher {
    display: flex;
    gap: 10px;
}

.flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

/* Заголовки */
h2 {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
    color: #333;
}

/* Уведомление */
.notification {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Стили для платежных методов */
.payment-method {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.payment-image {
    flex-shrink: 0;
    margin-right: 20px;
}

.payment-image img {
    max-width: 120px;

}


.payment-details {
    flex-grow: 1;
}

/* Кнопки */
.payment-buttons {
    display: flex;
    min-width: 200px;
    flex-direction: column; /* Горизонтальное расположение по умолчанию */
    gap: 10px;
    justify-content: flex-end; /* Выравнивание кнопок справа */
}

button {
    background-color: #3b3b3b;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    margin: auto;
    width: 40%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #3b3b3b; /* Цвет и ширина рамки */
    border-radius: 5px; /* Закругление углов рамки */
}

.modal-content::-webkit-scrollbar {
    width: 0;
}

.modal-content {
    scrollbar-width: none;
}

/* Темная тема */
body.dark-theme {
    background-color: #121212ce;
    color: #ffffff;
}

body.dark-theme .payment-method {
    background-color: #1e1e1e74;
}

body.dark-theme .notification {
    background-color: #333;
    color: #fff;
}

body.dark-theme h2 {
    color: #fff;
}

body.dark-theme .modal-content {
    background-color: transparent;
    color: #ffffff;
}

/* Светлая тема */
body.light-theme {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-theme .payment-method {
    background-color: #ffffff;
}

body.light-theme .notification {
    background-color: #e0e0e0;
    color: #333;
}

body.light-theme h2 {
    color: #333;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .modal-content {
        width: 80%;
    }

    .payment-method {
        flex-direction: column; /* Вертикальное расположение блоков */
        align-items: center;
    }

    .payment-buttons {
        flex-direction: column; /* Вертикальное расположение кнопок на мобильных */
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
}

/* Стили для блока контактов */
.contact-info {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
}

.contact-info h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для ссылок в контактной информации */
.contact-info a {
    color: #3c3ca1;
    text-decoration: none; /* Убираем подчеркивание */
}

.contact-info a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для блока контактов в тёмной теме */
.dark-theme .contact-info {
    background-color: #1e1e1e8b; /* Цвет фона для тёмной темы */
    border-color: #4a4a4a; /* Цвет границы для тёмной темы */
}

.dark-theme .contact-info h2,
.dark-theme .contact-info p {
    color: #ffffff; /* Цвет текста для заголовка и параграфов в тёмной теме */
}
